.filterContainer {
    background-color: #282c34;
    display: flex;
    padding-bottom: 8px;
}

.filterGenre {
    margin-right: 10px;
}

.filterState {
    flex: 1;
}

.filterStateInput {
    float: left;
    margin-left: 8px;
}
